body {
    margin: 0;
    background-color: #1c2633;
}

.container {
    border-radius: 6px;
    width: 550px;
    height: 550px;
    background-color: #1F2937;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    text-align: left;
    margin: 50px auto;
    padding: 0px 52px;
    padding-left: 52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
}

#green-header {
    color: #10B981;
}

p {
    margin-top: 10px;
    color: white;
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    margin-right: 8px;
}
#password-length {
    background-color: #2F3E53;
    width: 50px;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}

#symbols, #numbers {
    border: none;
}
#symbols {
    margin-left: 4px;
}


hr {
    background-color: #2F3E53;
    border: none;
    height: 1px;
    margin: 35px 0px;
}

#btn-generate {
    margin-top: 30px;
    background-color: #10B981;
    color: white;
    border: none;
    width: 190px;
    height: 42px;
    border-radius: 6px;
}

#generated-passwords-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#btn-first-password, #btn-second-password {
    width: 210px;
    height: 40px;
    background-color: #2F3E53;
    color: white;
    border: none;
    border-radius: 6px;
    text-align: center;
}